<div class="container">

    <div class="question">
      <p ng-show="ctrl.cardsShuffled" ng-bind="ctrl.question"></p>

      <div ng-show=""></div>
        
      </div>

      <form name="questionForm" ng-hide="ctrl.cardsShuffled" ng-submit="ctrl.shuffleDeck()" >
        <p ng-hide="questionForm.question.$pristine || questionForm.question.$dirty" ng-show="questionForm.question.$touched && questionForm.question.$error.required"> You must ask a question in order to get a reading!</p>
        <input required name="question" ng-model="ctrl.question" placeholder="Ask your question to the cards..." type="text"/>
        <input ng-disabled="questionForm.$invalid" type="submit" value="Shuffle the Deck"/>
      </form>
    </div> <!-- .question -->

    <div class="spread" ng-if="ctrl.cardsShuffled">
        <prisma-card ng-repeat="card in ctrl.reading"></prisma-card>
        
    </div> <!-- .spread -->

</div>
